:root.theme-light {
  --text-color: rgb(53, 52, 48);
  --bg-color: rgb(255, 241, 247);
  --accent-text-color: rgb(53, 52, 48);
  --accent-bg-color: rgb(255, 141, 203);
  --title-color: rgb(53, 52, 48);
  --brand-color: rgb(255, 194, 230);
  --bg-image: url(../images/cover-image-light.png);
  --hover-color: rgb(53, 52, 48, 0.4);
  --decorated-color: rgb(53, 52, 48);
  --shadow-color: rgb(255, 141, 203);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: rgb(53, 52, 48);
    --bg-color: rgb(255, 241, 247);
    --accent-text-color: rgb(53, 52, 48);
    --accent-bg-color: rgb(255, 141, 203);
    --title-color: rgb(53, 52, 48);
    --brand-color: rgb(255, 194, 230);
    --bg-image: url(../images/cover-image-light.png);
    --hover-color: rgb(53, 52, 48, 0.4);
    --decorated-color: rgb(53, 52, 48);
    --shadow-color: rgb(255, 141, 203);
  }

  .header__rec {
    display: none;
  }
}
