.page {
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "IBM Plex mono", monospace;
  font-size: var(--font-size);
  font-weight: 700;
  line-height: 23.4px;
}

.header__rec::before {
  content: "rec";
  position: absolute;
  text-transform: uppercase;
  color: var(--decorated-color);
  font-weight: 400;
  line-height: 25px;
  top: 0.6rem;
  right: 2.4rem;
}

.decorated-zone {
  position: relative;
}

.header__rec::after {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 0.6rem;
  background-color: var(--decorated-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--decorated-color);
  border-top: 1.56rem;
  border-right: 1.56rem;
  top: 1.06rem;
  right: 1.1rem;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 1.56rem;
  block-size: 1.56rem;
  border-block-start: 1px solid var(--decorated-color);
  border-inline-end: 1px solid var(--decorated-color);
  right: 0.625rem;
  top: 0.6rem;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 1.56rem;
  block-size: 1.56rem;
  border-block-end: 1px solid var(--decorated-color);
  border-inline-start: 1px solid var(--decorated-color);
  left: 0.625rem;
  bottom: 0.6rem;
}

.title-decor {
  font-size: var(--font-size);
  font-weight: 700;
  color: var(--accent-text-color);
  background-color: var(--accent-bg-color);
}

.section__title {
  font-size: var(--font-size-accent-text);
  color: var(--title-color);
  font-weight: 700;
}

.section__paragraph {
  color: var(--text-color);
  font-weight: 400;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.section__link:hover {
  border-bottom: 1px solid currentColor;
  text-decoration-skip-ink: none;
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid currentColor;
}

.header {
  position: relative;
  block-size: max(100dvb, 668px);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 0 0.6rem;
}

.header__theme-menu {
  margin-block-start: 0.625rem;
  grid-row: 1/2;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.header__theme-menu-item {
  font-weight: 400;
  text-align: center;
}

.header__theme-menu-button {
  color: var(--decorated-color);
  border: none;
  font-family: inherit;
  background: none;
  text-align: center;
  inline-size: 4.4rem;
  block-size: 1.6rem;
  cursor: pointer;
  font-weight: 400;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button_active:hover {
  outline: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  text-decoration-skip-ink: none;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__title {
  grid-row: 2/3;
  font-size: var(--font-size-brand-xs);
  line-height: 82.5%;
  color: var(--brand-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__paragraph {
  margin-block-end: 0.625rem;
  grid-row: 3/4;
}

.section__subtitle {
  margin-block-end: 0.625rem;
}

.main {
  display: flex;
  flex-direction: column;
  padding: var(--padding-xs);
  gap: var(--section-gap-xs);
}

.section:not(.section-gallery) {
  display: grid;
  gap: 1.24rem;
}

.section-why {
  grid-template-rows: repeat(3, min-content);
  padding-block-start: 2.5rem;
}

.section-what {
  grid-template-rows: repeat(4, min-content);
}

.section-how {
  grid-template-rows: repeat(7, min-content);
}

.section__heading {
  color: var(--accent-text-color);
  background-color: var(--accent-bg-color);
  font-weight: 400;
  margin-block-end: 0.625rem;
}

.section-gallery {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.section__list {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 0.625rem;
  list-style-type: none;
  grid-template-areas:
    "sunset"
    "dessert"
    "cassette"
    "book"
    "street";
}

.section__list-item:nth-child(1) {
  grid-area: sunset;
}

.section__list-item:nth-child(2) {
  grid-area: dessert;
}

.section__list-item:nth-child(3) {
  grid-area: cassette;
}

.section__list-item:nth-child(4) {
  grid-area: book;
}

.section__list-item:nth-child(5) {
  grid-area: street;
}

.section__image {
  width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
}

.footer {
  display: grid;
  grid-template-rows: 100dvb;
  block-size: max(100dvb, 668px);
  margin-block-start: 2.5rem;
  padding: 0 0.6rem;
}

.footer__title {
  font-size: var(--font-size-brand-xs);
  line-height: 82.5%;
  color: var(--brand-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .header {
    padding: var(--padding-s-m);
    block-size: max(100dvb, 1024px);
  }

  .header__rec::before {
    top: 1.3rem;
    right: 3.1rem;
  }

  .header__rec::after {
    top: 1.7rem;
    right: 1.8rem;
  }

  .decorated-zone::before {
    right: 1.25rem;
    top: 1.25rem;
  }

  .decorated-zone::after {
    left: 1.25rem;
    bottom: 1.25rem;
  }

  .header__title {
    margin-inline-start: -1.25rem;
    font-size: var(--font-size-brand-s-m);
  }

  .header__paragraph {
    inline-size: 22.75rem;
    justify-self: end;
    margin-block-end: 1.2rem;
  }

  .main {
    padding: var(--padding-s-m);
    gap: var(--section-gap-s-m);
  }

  .section-why {
    padding-block-start: 3.75rem;
    grid-template-columns: 236px 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .section-why .section__title {
    grid-row: 1/3;
  }

  .section-what {
    grid-template-columns: 236px 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
  }

  .section-what .section__title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .section__article-multitasking {
    grid-column: 1/4;
    grid-row: 2/3;
  }

  .section__article-food {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .section__article-gadgets {
    grid-column: 1/4;
    grid-row: 4/5;
  }

  .section-how {
    grid-template-columns: 236px 1fr;
    grid-template-rows: repeat(6, min-content);
  }

  .section-how .section__title {
    grid-column: 1/2;
    grid-row: 1/7;
  }

  .section-gallery {
    gap: 1.25rem;
  }

  .section__list {
    gap: 1.25rem;
    grid-template-areas:
      "sunset sunset dessert"
      "cassette book dessert"
      "cassette street street";
  }

  .footer {
    margin-block-start: 3.75rem;
    padding: var(--padding-s-m);
  }

  .footer__title {
    font-size: var(--font-size-brand-s-m);
  }
}

@media (min-width: 1024px) {
  .header {
    block-size: max(100dvb, 768px);
  }

  .decorated-zone::after {
    bottom: 1.25rem;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__paragraph {
    inline-size: 30.69rem;
    justify-self: end;
  }

  .header__theme-menu {
    grid-row: 1/2;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-block-start: 0.5rem;
  }

  .section-why {
    grid-template-columns: 315px 1fr;
  }

  .section-what {
    grid-template-columns: 315px 1fr 1fr;
    grid-template-rows: repeat(2, min-content);
  }

  .section-what .section__title {
    grid-column: 1/2;
  }

  .section__article-multitasking {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .section__article-food {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .section__article-gadgets {
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .section-how {
    grid-template-columns: 315px 1fr;
  }
}
