/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-text-color: rgb(0, 0, 40);
  --bg-color: rgb(0, 0, 40);
  --text-color: rgb(241, 178, 206);
  --accent-bg-color: rgb(255, 0, 112);
  --title-color: rgb(255, 0, 112);
  --subtitle-color: rgb(255, 0, 112);
  --brand-color: rgb(219, 0, 255);
  --bg-image: url(../images/cover-image-dark.png);
  --hover-color: rgba(255, 0, 112, 0.4);
  --decorated-color: rgb(255, 0, 112);
  --shadow-color: rgb(255, 0, 112);
  --font-size: 1.125rem;
  --font-size-accent-text: 1.125rem;
  --font-size-title: 1.125rem;
  --font-size-brand-xs: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-brand-s-m: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
